imports:
  - { resource: 'Services/EventListener.yaml' }

services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  T3\PwComments\:
    resource: '../Classes/*'
    exclude: '../Classes/{Event/Listener}'

  T3\PwComments\Hooks\ProcessDatamap:
    public: true

  pw_comments.extension_config:
    class: array
    factory:
      - '@TYPO3\CMS\Core\Configuration\ExtensionConfiguration'
      - 'get'
    arguments:
      - 'pw_comments'

  T3\PwComments\Controller\MailNotificationController:
    arguments:
      $extConfig: '@pw_comments.extension_config'

  TYPO3\CMS\Core\Localization\LanguageService:
    factory:
      - '@TYPO3\CMS\Core\Localization\LanguageServiceFactory'
      - 'create'
