name: Close stale issues

on:
  schedule:
    - cron: '30 1 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - name: Close Stale Issues
        uses: actions/stale@v10.1.0
        with:
          days-before-stale: '30'
          days-before-close: '5'
          days-before-pr-close: -1
          stale-issue-label: 'stale'
          stale-pr-label: 'stale'
          stale-issue-message: 'This issue is stale because it has been open 30 days with no activity.'
          close-issue-message: 'The issue has been automatically closed due to inactivity.'